# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Environment
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
npm-debug.log*

# IDE
.vscode/
.idea/